.carousel-dialog-content {
  background-color: #111;

  max-width: 80vw;

  justify-content: center;
  align-content: center;
}
/*
.carousel-dialog-header {
} */

/*
.carousel-media-container {

} */

.carousel-media-container img{


  border: #111 4px solid;
  border-radius: 1rem;
}