.carousel-dialog-content {
  background-color: #111;

  max-width: 90vw;
  min-height: 90vh;

  justify-content: center;
  align-content: center;
}
/*
.carousel-dialog-header {
} */

/*
.carousel-media-container {

} */

.carousel-media-container img{
  height: 80vh;
  width: 80vw;


  border: #111 4px solid;
  border-radius: 1rem;
}