#footer {
  background-color: #222;

  border-top: #666 1px solid;

  width: 100vw;
  padding: 1rem 3rem;

  z-index: 1000;
  backdrop-filter: blur(10px);
}

#social-links {
  display:flex;
  justify-content: center;

  margin: 1rem 0;


  list-style: none;
}

#social-links li{
  margin: 0 0.4rem;
}


#rights-reserved {
  display:flex;
  justify-content: center;

  font-size: 0.5rem;
}



@media (min-width: 768px) {
  #footer {
  background-color: #222;

  border-top: #666 1px solid;

  width: 100vw;
  padding: 1rem 10rem;

  z-index: 1000;
  backdrop-filter: blur(10px);
}

#rights-reserved {
  display:flex;
  justify-content: center;

  font-size: 0.8rem;
}
}
