.skill-item {
  color: #e8e8e8;
  border: #333 2px solid;
  border-radius: 0.5rem;
  margin: 0.2rem 0.2rem;
  padding: 0.3rem 0.5rem;

  transition: all 200ms ease;
}

.skill-item:hover {
  background-color: #222;
  border: #222 3px solid;
  transform: scale(1.03);
  cursor: pointer;

  transition: all 200ms ease;
}

.skill-item:active {
  background-color: #222;
  border: #222 3px solid;
  transform: scale(0.9);
  cursor: pointer;

  transition: all 200ms ease;
}