#home #introduction {
  color: #e8e8e8;
}

.section-home {
  display: flex;
  flex-direction: column;

  max-width: 75vw;
  min-height: 100vh;
  max-height: none;

  height: auto;
  padding: 50% 0 ;
  margin: 0 auto;
}

.section-content-home h1{
    font-size: clamp(1.5rem, 5vw, 3rem);

}

.typewriter-container {
  display: inline-block;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid rgb(0, 0, 0);
  animation:
    /* typing 3.5s step-end, */
    blink-caret .75s step-end infinite;
}

.cursor {
  display: inline-block;
  width: 0.1em;
  background-color: rgb(253, 253, 253);
  margin-left: 0.1em;
}

@media (min-width: 768px) {

  .section-home {
    justify-content: center;
    padding: 0 0;
  }
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* Typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #fff9f9;
  }
}